# json
*.json
!product-ignore.json
!package.json
!load-sequence.json
./node_modules
# === Rules for `node_modules` ===
!**/node_modules/**
/node_modules
/tools/doc/node_modules
/tools/clang-format/node_modules